{% extends 'layout.html' %}
{% block body %}
<h1>¿Qué es y para qué sirve la Equinoterapia?</h1>
<p>
Resultado de imagen para terapias equinas
La equinoterapia es un tratamiento que usa los movimientos de un caballo para lograr las respuestas deseadas en una persona, en función de su discapacidad. ... La equinoterapia puede incluir 
técnicas para ayudar a desarrollar el equilibrio y reacciones posturales.</p>

<h2> Aprende a montar, conocé las bases de la equitación y sumergite en el fascinante mundo de los caballos.</h2> 
<p> Ofrecemos clases regulares en días de semana y fines de semana, donde podrás ir avanzando en la práctica de la equitación recreativa mientras disfrutas de la actividad y todos sus beneficios.

Si amas los caballos y querés pasar en un fin de semana una experiencia unica y diferente, podés tomar clases sueltas coordinando con anterioridad.</p>

<h3>Clases de iniciación y práctica de equitación</h3>
<ul>
    <li>Salidas de Cabalgatas</li>
    <li>Paseos por el Campo</li>
    <li>Charlas sobre el cuidado de los Caballos.</li>
    <li>La posibilidad de interactuar y relajarte con éstos seres Majestuosos</li>
</ul>

 <h4>Para más información podés escribirnos vía email a patriciamilvamusante@hotmail.com.ar</h4>
<li>Servicios de alquiler de Monturas especiales</li>
<li>Servicio de Alquiler de Boxes para tu Caballo</li>
<li>Servicio de alquiler de vestuario para ejercitar</li>
<br>

<div class="container-fluid row">
    <div class="col-sm-6 d-flex justify-content-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KNdOAnZq6uQ" 
  title="YouTube video player" frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
  allowfullscreen></iframe>    
    </div>
    <div class="col-sm-6 d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.888981371544!2d-58.45390858502796!3d-34.
        58167556383861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5e61e6a32a9%3A0xd0111880fc61ddca!2sAv.
        %20C%C3%B3rdoba%20%26%20Av.%20Federico%20Lacroze%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1641502322612!5m2!1ses!2sar" 
        width="560" height="315" style="border:0;" allowfullscreen="" loading="lazy"></iframe>   
    </div>
  
</div>
{% endblock %}