{% extends 'layout.html' %}
{% block body %}
<div class="px-5">
    <p class="p-2 bg-danger text-white"> La asociación Cavalli está constituida por un equipo multidisciplinar de profesionales: una fisioterapeuta, dos psicólogas y una maestra de educación y una terapeuta ocupacional, expertas en terapias con caballos.</p>
   <p class="p-2 bg-danger text-white">Nuestros caballos de terapia son seleccionados y entrenados cuidadosamente para poder garantizar una intervención de calidad, segura y efectiva.</p>
    <p class="p-2 bg-danger text-white"> Gracias a la contribución de los diferentes ámbitos profesionales, todos los beneficios que aportan los caballos y la inestimable ayuda del voluntariado, se busca promover el desarrollo personal, la calidad de vida y la integración social de las personas con diversidad funcional por medio de una rehabilitación integral.</p>
</div>

<div class="px-5 font-weight-bold">
    <p class="p-2 bg-light text-dark"> <b>EQUIPO HUMANO</b> </br>
        Cavalli cuenta con un Equipo Multidisciplinar formado por profesionales del ámbito sanitario y educativo especializados en Terapias Ecuestres y caballos seleccionados y entrenados específicamente para estas intervenciones.</p>
 </div>
 <div class="px-5">
<p class="p-2 bg-light text-dark">
    <b>MARA SOLANO</b>  </br>

 Diplomada en Fisioterapia (Universidad Rey Juan Carlos Buenos Aires)
Experta en Equitación Terapéutica (Universidad Complutense de Buenos Aires)
Técnico y Experto en terapia Asistida con animales (Fundación Bocalán)
Experta en Técnicas Manuales de Fisioterapia y Técnicas de Fisioterapia Neurológica (Fisioformación)
Experta en Reeducación Postural Global (RPG)
Experta en Drenaje Linfático Manual (Escuela Universitaria Fisioterapia de la ONCE)
Curso de introducción al concepto Bobath para la valoración y el tratamiento de niños con alteraciones sensoriomotoras de origen central. (Fundación DACER)
Curso de introducción al concepto Bobath “Movimiento Normal”. (Universidad  de Buenos Aires)
Curso “Aprendizaje motor y neuroplasticidad” Centro Lescer
Galope 4 (Federación Hípica de Buenos Aires)
</p>
</div>
<div class="px-5">
             
    
    <p class="p-2 bg-light text-dark"> <b>BARBARA CLEMENT</b> <br>
        Licenciada en Psicología (Universidad de Buenos Aires)
    Experta en Equitación Terapéutica (Universidad de Buenos Aires)
    Master en Psicología Clínica Infanto- Juvenil (ISEP)
    Experta en Terapia familiar Sistémica (Universidad Complutense )
    Curso Neuropsicología infantojuvenil desde una perspectiva sistémica. (Colegio Oficial Psicólogos)
    Doble Titulación Universitaria en Estimulación Multisensorial en el Aula + Neurología Educativa. (Euroinnova Business School )</p>
</div>
<div class="px-5">
   

    <p class="p-2 bg-light text-dark">  <b> ANA CARNERERO</b> <br>
    Grado de Magisterio de Educación Primaria bilingüe con Mención en Lengua Extranjera Inglés y Mención en Pedagogía Terapéutica. (CES Don Bosco)
Máster Educación Especial. (UNIR)
Mención en Educación Física.(UNIR)
Formación de Terapia Ecuestre con Asociación Cavalli
Monitor de Ocio y Tiempo Libre (Overall)
Curso sobre dislexia en madrid (asociación disfam)
Curso Iniciación a la Lengua de Signos (Formación al Cuadrado)
Curso a distancia “prevención de conductas de riesgo en jóvenes” (Escuela Nacional de Formación Juan B. Belda)
Curso Matemáticas con Regletas (Universidad Camilo José Cela)
Galope 4 (Federación Hípica de Buenos Aires)</p>
</div>
<div class="px-5">
    

<p class="p-2 bg-light text-dark">> Licenciada en Psicología (Universidad Pontificia de Comillas)
Curso de Psicología Forense (UNIPSI)
Curso de Técnico y Experto en terapias Asistidas con Animales (Fundación Bocalán)
GRADO EN PSICOLOGÍA. Universidad Complutense de Madrid (UCM). Itinerario Neuropsicología 
Máster en Inteligencia Emocional e Intervención (UCM)
Programas De Intervenciones Asistidas con Animales Postconfinamiento. (Fundación Bocalán) 
Terapeuta en Análisis Aplicado de Conducta. (Abascool-La ilusión de Momo) 
Técnico y Experto en Terapia Asistida con Animales. (Fundación Bocalán) 
Curso Autismo Infantil. (CARPE DIEM)</p>
</div>
<div class="px-5">

    

<p class="p-2 bg-light text-dark"> <b>LUZ ELENA DE PEDRO</b> <br> Grado en Terapia Ocupacional (Universidad Rey Juan Carlos)
Formación de Terapia Ecuestre con Asociación Cavalli.
Galope 7 (Federación Hípica de Buenos Aires).
Competidora territorial, nacional e internacional de horseball.</p>
</div>
<div class="px-5">
    
<p class="p-2 bg-light text-dark"> <b>OLIVIA DEL ROSARIO (Colaboradora</b> <br> Diplomada en Terapia Ocupacional (Universidad Complutense )
Experta en Equitación Terapéutica (Universidad Complutense )
Técnico Deportivo en Equitación (Federación Hípica de Buenos Aires)
Máster en Neurocontrol Motor (Universidad Rey Juan Carlos)
Monitora de tiempo libre especializada en prevención drogodependencias (Agencia Antidroga Buenos Aires)</p>
</div>
<div class="px-5">
    

<p class="p-2 bg-light text-dark"> <b>MARÍA DOMÍNGUEZ (Colaboradora)</b><br> Diplomada en Magisterio de Educación Primaria (Universidad de Buenos Aires)
Diplomada en Magisterio de Educación Física (Universidad de Buenos Aires)
Experta en Equitación Terapéutica (Universidad Complutense )
Curso de Integración Sensorial aplicada a las terapias ecuestres. (Terapianimal).
Aplicación del concepto Bobath en hipoterapia. (Centro Lescer)</p>
</div>

{% endblock %}